@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-body-left: rgb(76, 173, 247);
    --bg-body-right: rgb(106, 197, 250);
    --bg-item: rgb(255,255, 255);
    --icon-color: #f16391;
    --text-color: rgb(125, 143, 143);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, var(--bg-body-left) 50%, var(--bg-body-right) 50%);
    font-family: "Montserrat", sans-serif;
}

svg {
    cursor: pointer;
}

nav {
    width: 1220px;
    height:  130px;
    padding: 10px 85px;
    border-radius: 120px;
    background-color: var(--bg-item);
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 400;
    column-gap: 22px;
    margin-left: 35px;
}

li {
    cursor: pointer;
}

li:last-of-type {
    color: var(--icon-color);
    font-weight: 500;
}

li i {
    margin-left: 14px;
}

li:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1240px) {
    nav {
        width: 450px;
        padding: 20px 24px;
        height: 70px;
    }

    ul {
        font-size: 1.2rem;
        margin-left: 20px;
    }

    svg {
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width: 450px) {
    nav {
        width: 260px;
        height: fit-content;
        padding: 20px;
        flex-direction: column;
        border-radius: 14px;
    }

    ul {
        font-size: 1.2rem;
        flex-direction: column;
        align-items: center;
    }

    li {
        padding: 20px;
    }

    svg {
        height: 30px;
        width: 30px;
        margin-top: 10px;
    }
}