@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
}

aside {
    margin: 38px 120px 0px 100px;
}

.categories, 
.colors, 
.size {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
    width: 120px;
}

label {
    margin-left: 5px;
}

input[type=checkbox] {
    accent-color: rgb(0, 0, 0);
  }

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 700px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    position: relative;
}

.new, .discount {
    position: absolute;
    top: 0;
    color: white;
    padding: 7px 9px;
}

.new {
    background-color: rgb(33, 112, 142);
}

.discount {
    background-color: rgb(231, 91, 83);
}

img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    background-color: rgb(249, 251, 252);
    padding: 48px 48px;
}

p {
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: 12px;
}

.price {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
}

.discount-price {
    display: flex;
}

.discount-price > h4 {
    font-weight: 300;
    margin-top: 5px;
    margin-left: 5px;
    text-decoration: line-through;
    color: rgb(105, 109, 112);
}

span {
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
    font-weight: 500;
}

button, .added {
    position: absolute;
    top: 162px;
    width: 100%;
    height: 38px;
    background-color: rgb(34, 115, 147);
    border: none;
    color: white;
    display: none;
}

.added {
    background-color: rgb(207, 231, 252);
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    display: none;
}

.product:hover > button {
    display: block;
}
