@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(34, 38, 43);
    --secondary-color: rgb(188, 31, 75);
}

body {
    background-color: rgb(25, 27, 29);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.current-plan {
    background-color: var(--secondary-color);
    text-align: center;
    width: 320px;
    height: 74px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.current-plan > p {
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 8px;
}

.current-plan > h3 {
    font-weight: 600;
    font-size: 1.1rem;
}

.choose {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 14px;
}

.choose > h1 {
    font-size: 1.5rem;
}

.billed {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.billed > p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.9rem;
    font-weight: 300;
}


.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--secondary-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.plans {
    display: flex;
    margin-top: 10px;
}

.starter, .pro, .enterprice {
    background-color: var(--primary-color);
    width: 325px;
    height: 450px;
    margin-right: 16px;
    padding: 24px;
    border-radius: 8px;
}

.price {
    font-size: 2.2rem;
}

h4 {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 12px;
}

h4, .price {
    text-align: center;
}

select {
    background-color: var(--primary-color);
    padding: 14px 80px;
    border: 1px solid rgb(70, 74, 79);
    color: white;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select + i {
    float: right;
    color: rgb(70, 74, 79);
    margin-top: -30px;
    margin-right: 50px;
    pointer-events: none;
    background-color: transparent;
    padding-right: 5px;
}

option {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.starter > ul, .enterprice > ul {
    margin-left: 30px;
    margin-top: 50px;
}

.pro > .price {
    margin-bottom: 15px;
}

.pro > .price > span {
    font-size: 0.9rem;
    font-weight: 600;
}

.pro > ul {
    margin-bottom: 68px;
}

.pro > p {
    color: var(--secondary-color);
    font-size: 0.7rem;
    margin-left: 55px;
    margin-bottom: 27px;
    margin-top: 5px;
}

.enterprice > h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 21px;
}

.enterprice > ul {
    margin-top: 68px;
}

ul {
    list-style: none;
    font-weight: 300;
    font-size: 0.9rem;
}

li {
    margin-bottom: 10px;
}
  
li::before {
    content: "• ";
    color: var(--secondary-color);
    margin-right: 3px;
    font-weight: 800;
}

button {
    margin-top: 50px;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    color: white;
    border-radius: 4px;
    padding: 11px 42px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.btn-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.btn-left {
    margin-top: 65px;
}

.btn-right {
    margin-top: 77px;
}

.btn-left, .btn-right {
    padding: 11px 42px;
}

.btn-left:hover, .btn-right:hover {
    background-color: var(--secondary-color);
}

.btn-middle {
    background-color: var(--secondary-color);
}

.btn-middle:hover {
    background-color: transparent;
}