@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

:root {
    --bg-nav: rgb(36, 53, 70);
    --bg: rgb(255, 255, 255);
    --bg-days: rgb(246, 246, 246);
    --nav-text: rgb(127, 142, 153);
    --left-bottom: rgb(109, 127, 142);
    --text-dark: rgb(96, 100, 103);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

span {
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: var(--bg-nav);
    width: 90px;
    height: 100%;
    display: flex;
    padding-top: 38px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin-bottom: 40px;
    margin-left: -5px;
}

a {
    text-decoration: none;
    color: var(--nav-text);
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
    font-weight: 600;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    transition: all 200ms ease-in;
}

a:hover {
    color: var(--bg);
}

main {
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
}

.flag {
    width: 34px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}

.top {
    width: 100%;
    padding: 30px 50px 30px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top img {
    display: block;
}

.dots-left {
    width: 100px;
    height: 100px;
    background-image: radial-gradient(#dfdfdf 30%, transparent 0);
    background-size: 1em 1em;
    bottom: 150px;
    left: -30px;
    position: absolute;
}

.dots-right {
    width: 340px;
    height: 150px;
    background-image: radial-gradient(#dfdfdf 30%, transparent 0);
    background-size: 1em 1em;
    right: 150px;
    top: 10px;
    position: absolute;
}

.dots {
    position: absolute;
    color: #dfdfdf;
    display: flex;
    align-items: center;
    gap: 4px;
    bottom: 150px;
    right: 500px;
}

.dots i {
    font-size: 1.5rem;
}

.square {
    width: 7px;
    height: 7px;
    background-color: var(--bg-nav);
    display: block;
}

.bottom {
    width: 100%;
    height: calc(100% - 120px);
    padding-left: 70px;
    display: flex;
}

.left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right {
    height: 100%;
    width: 80%;
    position: relative;
}

.right-bottom {
    background-color: var(--bg-days);
    color: var(--bg-nav);
    height: 90px;
    padding: 25px;
    position: relative;
    margin-top: 60px;
}

.right-bottom h3 {
    position: absolute;
    top: -12px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
}

.right-bottom .bold {
    font-weight: 600;
    margin-bottom: 4px;
}

.dates {
    display: flex;
    align-items: center;
    column-gap: 70px;
}

.left-top h1 {
    color: var(--bg-nav);
    font-weight: 800;
    font-size: 3.3rem;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 55px;
}

.left-top button {
    background-color: var(--bg);
    border: 2px solid var(--bg-nav);
    text-transform: uppercase;
    color: var(--bg-nav);
    padding: 16px 45px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.left-top button:hover {
    background-color: var(--bg-nav);
    color: var(--bg);
}

.left-bottom > p {
    color: var(--left-bottom);
}

.left-bottom .dark {
    color: var(--text-dark);
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}

.right-top {
    margin-top: 60px;
    display: flex;
    column-gap: 30px;
    align-items: end;
}

.right-top img:first-of-type {
    width: 400px;
    height: 300px;
    object-fit: cover;
    z-index: 1;
}

.right-top img:last-of-type {
    width: 384px;
    height: 260px;
    object-fit: cover;
    z-index: 1;
}