@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --bg-body: rgb(244, 247, 255);
    --bg-icon: rgb(244, 247, 255);
    --bg-dot: rgb(213, 220, 247);
    --bg-chebron: rgb(250, 252, 255);
    --cheron: rgb(136, 145, 174);
    --text-color: rgb(30, 31, 69);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: var(--text-color);
    background-color: var(--bg-body);
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

/* Slideshow container */
.slideshow-container {
    width: 1018px;
    position: relative;
    margin: auto;
    height: 210px;
    margin-bottom: 10px;
}
  
/* Hide the images by default */
.mySlides {
    display: flex;
    gap: 18px;
}

.item {
    width: 500px;
    height: 210px;
    padding: 40px;
    background-color: white;
    border-radius: 18px;
    display: flex;
    column-gap: 24px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}


.icon {
    width: 108px;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-icon);
    font-size: 2.2rem;
    border-radius: 10px;
}

.text {
    width: 285px;
}

.prev,
.next {
    position: absolute;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    border: 1px solid var(--bg-dot);
    background-color: var(--bg-chebron);
    color: var(--cheron);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    margin-right: 50px;
    cursor: pointer;
    top: 35%;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
   left: -9%; 
}

.next {
    right: -14%;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: var(--cheron);
    color: var(--bg-chebron);
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--bg-dot);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    border: 3px solid var(--cheron);
    background-color: var(--bg-body);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media screen and (max-width: 1216px) {
    body {
        height: 100%;
    }

    .slideshow-container {
        width: 500px;
        margin-bottom: 5px;
    }

    .mySlides {
        flex-direction: column;
    }

    h1 {
        margin-bottom: 24px;
    }

    .prev,
    .next {
        top: 85%;
    }

    .prev {
        left: -16%;
    }

    .next {
        right: -26%;
    }

    .dots {
        margin-top: 214px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 677px) {

}
