@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --bg-body: rgb(244, 247, 225);
    --color-text: rgb(32, 34, 77);
    --bg-item: rgb(255, 255, 255);
    --bg-icon-blue: rgb(196, 243, 236);
    --bg-icon-pink: rgb(251, 194, 213);
    --text-secondary: rgb(118, 118, 143);
    --font-titles: 'Merriweather', serif;
    --font-main: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--bg-body);
    font-family: var(--font-main);
    color: var(--color-text);
}

h1 {
    font-family: var(--font-titles);
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: 700;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 1060px;
    height: fit-content;
    gap: 30px;
    justify-content: center;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    height: 250px;
    width: 330px;
    padding: 45px;
    background-color: var(--bg-item);
    border-radius: 14px;
    text-align: center;
    box-shadow: 0px 14px 29px 25px rgba(220, 229, 244, 0.8);
}

div.item {
    display: inline;
}

.position {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.icon {
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    font-size: 1.4rem;
}

.item:nth-of-type(1) .icon {
    background-image: linear-gradient(226deg, var(--bg-icon-blue), var(--bg-icon-pink));
}


.item:nth-of-type(2) .icon {
    background-color: var(--bg-icon-pink);
}

.item:nth-of-type(3) .icon {
    background-image: linear-gradient(144deg, var(--bg-icon-blue) 50%, var(--bg-icon-pink));
}

.item:nth-of-type(4) .icon {
    background: var(--bg-icon-blue);
}

.item:nth-of-type(5) .icon {
    background-image: linear-gradient(300deg, var(--bg-icon-blue) 50%, var(--bg-icon-pink));
}

.item:nth-of-type(6) .icon {
    background-image: linear-gradient(122deg, var(--bg-icon-pink) 2%, var(--bg-icon-blue));
}

.item h2 {
    margin-left: 20px;
    font-weight: 500;
}

button {
    padding: 18px;
    width: 100%;
    border-radius: 9px;
    border: 1px solid rgba(167, 167, 167, 0.4);
    background-color: var(--bg-item);
    color: var(--color-text);
    transition: all 200ms ease-in;
}

button:hover {
    background-color: var(--color-text);
    color: var(--bg-item);
}

button span {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 1rem;
}

p {
    color: var(--text-secondary);
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
    text-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
}

@media screen and (max-width: 1076px) {
    section {
        width: 700px;
    }

}

@media screen and (max-width: 732px) {
    section {
        width: 400px;
    }
}

