 /* https://pixabay.com/vectors/barcode-laser-code-black-306926/ */
 @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://images.unsplash.com/photo-1603437873662-dc1f44901825?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    display: flex;
    justify-content: center;
    margin-top: 120px;
    height: 100%;
    font-family: 'Kanit', sans-serif;
}

.square {
    display: flex;
    background-color: rgb(243, 252, 251);
    width: 750px;
    /* height: 345px; */
    height: 310px;
    box-shadow: -3px -3px 5px -11px rgb(3, 214, 220),3px 3px 5px -11px rgb(3, 214, 220);
}

.left {
    width: 65%;
    height: 100%;
    padding: 40px 26px 20px 26px;
}

.fly {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

h1 {
    color: rgb(3, 214, 220);
    letter-spacing: 3px;
    font-size: 2.8rem;
}

h4 {
    color: rgb(108, 117, 116);
    font-weight: 300;
    margin-top: -17px;
    margin-left: 12px;
}

.line {
    width: 20px;
    height: 1px;
    background-color: rgb(171, 180, 179);
    margin-right: 3px;
    margin-left: 3px;
}

.plane {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.plane > .icon {
    margin-top: -10px;
}

i {
    color: rgb(171, 180, 179);
    font-size: 1.2rem;
    margin-top: -10px;
}

h5 {
    color: rgb(108, 117, 116);
    font-weight: 300;
}

.info {
    margin: 0 auto;
    background-color: rgb(233, 248, 249);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px 10px 24px;
    margin-bottom: 30px;
}

.num-info {
    color: rgb(3, 214, 220);
    margin-top: -4px;
}

p {
    color: rgb(185, 190, 189);
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 15px;
}

p > span {
    font-weight: 500;
}







.right  {
    width: 35%;
    height: 100%;
    border-left: 1px dashed rgb(108, 117, 116);
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.right  > .rotate  > .fly {
    margin-bottom: 10px;
}

.right  > .rotate  > .fly > .from  h1,  
.right  > .rotate  > .fly > .to  h1{
    /* background-color: red; */
    font-size: 2rem;
    margin-bottom: 4px;
}

.right  > .rotate  > .fly > .from  h4,  
.right  > .rotate  > .fly > .to  h4{
    /* background-color: red; */
    font-size: 0.8rem;
    margin-left: 5px;
}

.right  > .rotate  > .fly > .plane .line {
    width: 14px;
    margin-top: -10px;
    margin-right: 5px;
}

.right  > .rotate  > .fly > .plane i {
    font-size: 0.8rem;
    margin-top: -15px;
}

.right  > .rotate  .info {
    background-color: rgb(243, 252, 251);
    padding: 10px 2px 10px 0px;
    /* margin-bottom: 30px; */
    margin-left: -2px; 
}

img {
    margin-top: -10px;
    margin-left: 10px;
}
.rotate {
    transform: rotate(270deg);
    width: 100%;
}




/* body {
    background-color: red;
}


  #border:before, #border:after, #border .border-bottom:before, #border .border-bottom:after {
    box-shadow: 0 0 0 25px #fff;
    clip: rect(0, 54px, 54px, 0);
  }
  #border {
    width: 350px;
    height: 150px;
    position: relative;
  }
  #border:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    border: 4px solid #00719e;
    top: -4px;
    left: -4px;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 50px;
  }
  #border:after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    border: 4px solid #00719e;
    top: -4px;
    right: -4px;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 50px;
  }
  #border .border-bottom:before {
    content: '';
    display: block;
    z-index: 2;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -4px;
    left: -4px;
    border: 4px solid #00719e;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 50px;
  }
  #border .border-bottom:after {
    content: '';
    display: block;
    z-index: 2;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -4px;
    right: -4px;
    border: 4px solid #00719e;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 50px;
  }
  .border-body {
    background: #fff;
    height: 100%;
    width: 250px;
    margin-left: 50px;
    position: relative;
    top: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #00719e;
    border-bottom: 4px solid #00719e;
  }
  .border-body:before {
    content: '';
    display: block;
    border-left: 4px solid #00719e;
    position: absolute;
    top: 50px;
    left: -54px;
    width: 50px;
    height: 50px;
    background: #fff;
  }
  .border-body:after {
    content: '';
    display: block;
    border-right: 4px solid #00719e;
    position: absolute;
    top: 50px;
    right: -54px;
    width: 50px;
    height: 50px;
    background: #fff;
  }
  .offset {
    margin: 50px auto 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
   */

/* body {
    margin:5px 20px;
    background-color: red;
}
    
a {
    display:inline-block; 
    width:250px; 
    height:100px; 
    background:#ccc; 
    border:2px solid #000; 
    position:relative;
}
    
a div {
    position: absolute; 
    top: 0; 
    overflow: hidden; 
    width: 15px; 
    height: 100%;
    background-color: blue;
}

a div:after {
    content:''; 
    background:#000; 
    width:2px; 
    height:75px; 
    position:absolute; 
    top:12.5px;
}
    
a div:first-of-type {
    left: -14px;
}

a div:first-of-type:after {
    left:0;
}
    
a div:last-of-type {
    right: -14px;
}
    
a div:last-of-type:after {
    right:0;
}
    
 a span {
    display:block; 
    width:30px; 
    height:30px; 
    background:transparent; position:absolute; 
    bottom:-20px; 
    right:-20px; 
    border:2px solid #000; border-radius:25px; 
    box-shadow:0 0 0 60px #ccc;
}
    
a div:first-of-type span {
    left:-20px;
}
//
//a div:first-of-type span:first-child {top:-20px;} 

a div:first-of-type span:last-child {bottom:-20px;}
    
a div:last-of-type span {right:-20px;}

a div:last-of-type span:first-child {top:-20px;}

a div:last-of-type span:last-child {bottom:-20px;} */