@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(38, 40, 42);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

section {
    display: flex;
    position: relative;
}

article {
    overflow: hidden;
    width: 370px;
    height: 605px;
    background-color: rgb(46, 48, 50);
    border-radius: 12px;
}

.middle {
    position: absolute;
    left: 350px;
    top: -15px;
    height: 640px;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5),
    -1px -1px 30px  rgba(0, 0, 0, 0.5);
}

.middle > .waves {
    margin-top: 40px;
}

.middle > .characteristics > ul {
    margin-bottom: 60px;
}

.left {
    margin-right: 330px;
}

.price {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 3.7rem;
    font-weight: 900;
    margin-top: 45px;
}

.month {
    font-size: 1.4rem;
    font-weight: 400;
}

h3 {
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 1.4rem;
}

.waves {
    margin-bottom: -3px;
}

.characteristics {
    display: flex;
    flex-direction: column;
    background-color: #1D1F20;
    padding-top: 45px;
    padding-bottom: 80px;
    
}

ul {
    display: block;
    list-style: none;
    margin: 0 auto;
    color: rgb(178, 180, 181);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 40px;
}

li {
    margin-bottom: 17px;
}

button {
    border-radius: 30px;
    font-size: 1.1rem;
    margin: auto;
    padding: 14px 42px;
}

.btn-1 {
    background: linear-gradient(rgb(46, 48, 50), rgb(46, 48, 50)) padding-box,
              linear-gradient(to left, rgb(255, 82, 85) , rgb(230, 93, 164)) border-box;
    border: 2px solid transparent;
}

.btn-text-1{
    background: -webkit-linear-gradient(left, rgb(230, 93, 164) 50%, rgb(255, 82, 85));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.btn-2 {
    background: linear-gradient(rgb(46, 48, 50), rgb(46, 48, 50)) padding-box,
              linear-gradient(to left, rgb(169, 149, 190), rgb(108, 218, 240)) border-box;
    border: 2px solid transparent;
}

.btn-text-2{
    background: -webkit-linear-gradient(left, rgb(108, 218, 240)50%, rgb(169, 149, 190));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-2 {
    
    background: -webkit-linear-gradient(180deg, rgba(169,149,190,1) 52%, rgba(108,218,240,1) 67%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-1 {
    background: -webkit-linear-gradient(180deg, rgba(255,82,85,1) 52%, rgba(230,93,164,1) 67%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} 


/* waves */

.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
    0%{
    d: path("M 0,400 C 0,400 0,100 0,100 C 92.34615384615384,121.44871794871796 184.69230769230768,142.8974358974359 271,129 C 357.3076923076923,115.1025641025641 437.5769230769231,65.85897435897436 521,64 C 604.4230769230769,62.14102564102563 690.9999999999999,107.66666666666666 762,119 C 833.0000000000001,130.33333333333334 888.4230769230771,107.47435897435899 958,92 C 1027.5769230769229,76.52564102564101 1111.3076923076922,68.43589743589743 1194,71 C 1276.6923076923078,73.56410256410257 1358.3461538461538,86.78205128205128 1440,100 C 1440,100 1440,400 1440,400 Z");
    }
    25%{
    d: path("M 0,400 C 0,400 0,100 0,100 C 76.43076923076924,115.16153846153847 152.8615384615385,130.32307692307694 225,127 C 297.1384615384615,123.67692307692307 364.9846153846154,101.86923076923077 451,98 C 537.0153846153846,94.13076923076923 641.2,108.19999999999999 739,111 C 836.8,113.80000000000001 928.2153846153847,105.33076923076925 994,108 C 1059.7846153846153,110.66923076923075 1099.9384615384615,124.47692307692307 1170,125 C 1240.0615384615385,125.52307692307693 1340.0307692307692,112.76153846153846 1440,100 C 1440,100 1440,400 1440,400 Z");
    }
    50%{
    d: path("M 0,400 C 0,400 0,100 0,100 C 62.91025641025641,105.56410256410257 125.82051282051282,111.12820512820512 210,117 C 294.1794871794872,122.87179487179488 399.6282051282051,129.05128205128204 487,114 C 574.3717948717949,98.94871794871796 643.6666666666669,62.666666666666686 711,67 C 778.3333333333331,71.33333333333331 843.7051282051281,116.28205128205127 930,118 C 1016.2948717948719,119.71794871794873 1123.5128205128206,78.2051282051282 1212,68 C 1300.4871794871794,57.794871794871796 1370.2435897435898,78.8974358974359 1440,100 C 1440,100 1440,400 1440,400 Z");
    }
    75%{
    d: path("M 0,400 C 0,400 0,100 0,100 C 67.18461538461537,88.18205128205128 134.36923076923074,76.36410256410257 221,79 C 307.63076923076926,81.63589743589743 413.70769230769235,98.72564102564101 504,101 C 594.2923076923076,103.27435897435899 668.8,90.73333333333333 736,99 C 803.2,107.26666666666667 863.0923076923077,136.34102564102565 938,133 C 1012.9076923076923,129.65897435897435 1102.8307692307692,93.9025641025641 1189,83 C 1275.1692307692308,72.0974358974359 1357.5846153846155,86.04871794871795 1440,100 C 1440,100 1440,400 1440,400 Z");
    }
    100%{
    d: path("M 0,400 C 0,400 0,100 0,100 C 92.34615384615384,121.44871794871796 184.69230769230768,142.8974358974359 271,129 C 357.3076923076923,115.1025641025641 437.5769230769231,65.85897435897436 521,64 C 604.4230769230769,62.14102564102563 690.9999999999999,107.66666666666666 762,119 C 833.0000000000001,130.33333333333334 888.4230769230771,107.47435897435899 958,92 C 1027.5769230769229,76.52564102564101 1111.3076923076922,68.43589743589743 1194,71 C 1276.6923076923078,73.56410256410257 1358.3461538461538,86.78205128205128 1440,100 C 1440,100 1440,400 1440,400 Z");
    }
}

.path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
    0%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 97.22564102564107,202.14615384615385 194.45128205128213,204.2923076923077 275,216 C 355.54871794871787,227.7076923076923 419.4205128205127,248.9769230769231 478,235 C 536.5794871794873,221.0230769230769 589.8666666666667,171.8 682,170 C 774.1333333333333,168.2 905.1128205128205,213.82307692307694 997,232 C 1088.8871794871795,250.17692307692306 1141.6820512820511,240.90769230769232 1209,231 C 1276.3179487179489,221.09230769230768 1358.1589743589743,210.54615384615386 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    25%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 56.948717948717956,180.0794871794872 113.89743589743591,160.15897435897438 196,165 C 278.1025641025641,169.84102564102562 385.35897435897436,199.4435897435897 481,202 C 576.6410256410256,204.5564102564103 660.6666666666667,180.0666666666667 734,182 C 807.3333333333333,183.9333333333333 869.9743589743589,212.2897435897436 954,209 C 1038.025641025641,205.7102564102564 1143.4358974358975,170.774358974359 1228,164 C 1312.5641025641025,157.225641025641 1376.2820512820513,178.61282051282052 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    50%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 71.96153846153848,202.60000000000002 143.92307692307696,205.20000000000002 222,195 C 300.07692307692304,184.79999999999998 384.2692307692307,161.79999999999998 469,168 C 553.7307692307693,174.20000000000002 638.9999999999999,209.59999999999997 715,209 C 791.0000000000001,208.40000000000003 857.7307692307695,171.80000000000004 944,173 C 1030.2692307692305,174.19999999999996 1136.076923076923,213.2 1222,224 C 1307.923076923077,234.8 1373.9615384615386,217.4 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    75%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 64.78974358974358,205.7923076923077 129.57948717948716,211.58461538461538 202,214 C 274.42051282051284,216.41538461538462 354.47179487179494,215.45384615384614 445,206 C 535.5282051282051,196.54615384615386 636.5333333333333,178.6 725,179 C 813.4666666666667,179.4 889.394871794872,198.14615384615388 966,206 C 1042.605128205128,213.85384615384612 1119.8871794871795,210.8153846153846 1199,208 C 1278.1128205128205,205.1846153846154 1359.0564102564103,202.5923076923077 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    100%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 97.22564102564107,202.14615384615385 194.45128205128213,204.2923076923077 275,216 C 355.54871794871787,227.7076923076923 419.4205128205127,248.9769230769231 478,235 C 536.5794871794873,221.0230769230769 589.8666666666667,171.8 682,170 C 774.1333333333333,168.2 905.1128205128205,213.82307692307694 997,232 C 1088.8871794871795,250.17692307692306 1141.6820512820511,240.90769230769232 1209,231 C 1276.3179487179489,221.09230769230768 1358.1589743589743,210.54615384615386 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}

.path-2{
    animation:pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-2{
    0%{
      d: path("M 0,400 C 0,400 0,300 0,300 C 58.56923076923076,289.25128205128203 117.13846153846151,278.5025641025641 200,269 C 282.8615384615385,259.4974358974359 390.0153846153846,251.24102564102566 477,265 C 563.9846153846154,278.75897435897434 630.8,314.5333333333333 716,326 C 801.2,337.4666666666667 904.7846153846153,324.625641025641 990,320 C 1075.2153846153847,315.374358974359 1142.0615384615385,318.9641025641026 1214,317 C 1285.9384615384615,315.0358974358974 1362.9692307692308,307.5179487179487 1440,300 C 1440,300 1440,400 1440,400 Z");
    }
    25%{
      d: path("M 0,400 C 0,400 0,300 0,300 C 99.51538461538462,283.4641025641026 199.03076923076924,266.92820512820515 267,263 C 334.96923076923076,259.07179487179485 371.39230769230767,267.7512820512821 436,286 C 500.60769230769233,304.2487179487179 593.4000000000001,332.06666666666666 683,330 C 772.5999999999999,327.93333333333334 859.0076923076922,295.9820512820513 952,296 C 1044.9923076923078,296.0179487179487 1144.569230769231,328.0051282051282 1227,334 C 1309.430769230769,339.9948717948718 1374.7153846153847,319.99743589743593 1440,300 C 1440,300 1440,400 1440,400 Z");
    }
    50%{
      d: path("M 0,400 C 0,400 0,300 0,300 C 66.88461538461539,304.9307692307692 133.76923076923077,309.8615384615385 207,300 C 280.2307692307692,290.1384615384615 359.80769230769226,265.4846153846154 450,273 C 540.1923076923077,280.5153846153846 641.0000000000001,320.2 731,325 C 820.9999999999999,329.8 900.1923076923076,299.7153846153846 982,293 C 1063.8076923076924,286.2846153846154 1148.230769230769,302.9384615384616 1225,308 C 1301.769230769231,313.0615384615384 1370.8846153846155,306.53076923076924 1440,300 C 1440,300 1440,400 1440,400 Z");
    }
    75%{
      d: path("M 0,400 C 0,400 0,300 0,300 C 81.17692307692309,321.13846153846157 162.35384615384618,342.2769230769231 250,331 C 337.6461538461538,319.7230769230769 431.7615384615384,276.0307692307692 516,263 C 600.2384615384616,249.96923076923082 674.6,267.6000000000001 742,274 C 809.4,280.3999999999999 869.8384615384614,275.5692307692308 947,285 C 1024.1615384615386,294.4307692307692 1118.0461538461539,318.12307692307695 1203,323 C 1287.9538461538461,327.87692307692305 1363.976923076923,313.9384615384615 1440,300 C 1440,300 1440,400 1440,400 Z");
    }
    100%{
      d: path("M 0,400 C 0,400 0,300 0,300 C 58.56923076923076,289.25128205128203 117.13846153846151,278.5025641025641 200,269 C 282.8615384615385,259.4974358974359 390.0153846153846,251.24102564102566 477,265 C 563.9846153846154,278.75897435897434 630.8,314.5333333333333 716,326 C 801.2,337.4666666666667 904.7846153846153,324.625641025641 990,320 C 1075.2153846153847,315.374358974359 1142.0615384615385,318.9641025641026 1214,317 C 1285.9384615384615,315.0358974358974 1362.9692307692308,307.5179487179487 1440,300 C 1440,300 1440,400 1440,400 Z");
    }
}
