@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 117, 146);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

nav, .discount {
    width: 1000px;
}

.discount {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    background-color: rgb(252, 214, 207);
}

.discount > .fa-xmark {
    position: absolute;
    right: 47px;
    top: 12px;
    cursor: pointer;
}

nav {
    height: 60px;
    padding: 0 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > .left {
    display: flex;
    align-items: center;
}

nav > .left > label {
    background-color: rgb(239, 243, 246);
    padding: 10px 12px;
    border-radius: 16px;
    margin-left: 30px;
}

nav > .left > label > .fa-magnifying-glass {
    margin-left: -3px;
    margin-right: 7px;
}

nav > .left > label > input {
    outline: none;
    border: none;
    background-color: rgb(239, 243, 246);
}

nav > .right {
    display: flex;
}

.right > ul {
    list-style-type: none;
    display: flex;
    margin-right: 38px;
}

.right > ul > li {
    margin-left: 26px;
}

.right > ul > li > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.right > .bag {
    position: relative;
    cursor: pointer;
}

.bag > .num {
    position: absolute;
    top: -7px;
    right: -10px;
    color: white;
    background-color: rgb(231, 89, 82);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}